/* --- Estilos Generales y Reseteo --- */
body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f0f4f8; 
    display: flex; /* Utilizo Flexbox para que quede centrada la tarjeta en la página */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* --- Tarjeta Principal --- */
.card-container {
    width: 550px; /* Ancho para la tarjeta */
    background-color: white; /* Color de fondo de la tarjeta */
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    overflow: hidden; /* Para que el header tenga los bordes redondeados */
}

/* --- Franja Superior --- */
.card-header {
    height: 100px;
    background-color: #ff4086;
}

/* --- Contenido del Perfil (Texto y Botón) --- */
.profile-content {
    padding: 0 30px 30px; 
    text-align: left; /* Alineación del texto */
    position: relative; 
}

/* --- Imagen de Perfil --- */
.profile-image-container {
    margin-top: -80px; /* Disminuyo el tamaño original de la imagen */
    margin-bottom: 20px;
    width: 160px; 
    height: 160px;
    border-radius: 60%;
    border: 4px solid white; /* Borde blanco alrededor de la imagen */
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
}

.profile-image {
    width: 110%;
    height: 120%;
    object-fit: cover; /* Con esta función aseguro que la imagen llene el círculo */
}

/* --- Estilos de Texto --- */

.profile-name {
    font-size: 1.6em;
    font-weight: 700;
    margin: 10px 0 5px;
    color: #333;
}

.profile-location {
    font-size: 1em;
    color: #777;
    margin-bottom: 20px;
}

.profile-roles {
    font-size: 0.9em;
    font-weight: 500;
    color: #444;
    margin-bottom: 20px;
}

.profile-bio {
    font-size: 0.9em;
    color: #555;
    line-height: 1.4;
    margin-bottom: 30px;
}

/* --- Botón --- */
.edit-button {
    border: 2px solid #ccc;
    background: white;
    color: black;
    padding: 8px 15px;
    border-radius: 6px;
    font-size: 0.9em;
    cursor: pointer; 
}

.edit-button:hover {
    background-color: #f5f5f5;
    border-color: palevioletred ;
}